body {
    background-color:blueviolet;
}

div {
    border-radius: 10px;
}

#middle{
    background-color:brown;
    margin: auto;
    width: 600px;
    height: 600px;
    margin-top: 25ch;

    box-sizing: border-box;
}

.horizontal, .vertical{
    display: flex;
    align-items: stretch;
    padding: 10px;
    box-sizing: border-box;

    cursor: pointer;
    /*pointer-events: none;*/
}

.horizontal {
    flex-direction: column;
    padding-bottom: 0px;
    background-color: gray;

}

.vertical {
    flex-direction: row;
    padding-left: 0px;
    background-color: black;

}

.horizontal > div  , .vertical > div{   
    width: 100%;
    height: 100%;
}

.horizontal > div{
    margin-bottom: 10px;
}

.vertical > div{
    margin-left: 10px;
}

.vertical > div:hover, .horizontal > div:click , #middle:hover {
    background-color: blue;
}